{% extends 'base.html' %} {% block head %}
<title>To-do App</title>
{% endblock %} {% block body %}
<div class="container">
  <h2 class="text-center my-4">Completed Tasks</h2>

  {% if tasks | length < 1 %}
  <h3 class="text-center">Not tasks to show</h3>
  {% else %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Status</th>
        <th scope="col">Content</th>
        <th scope="col">Created Date</th>
      </tr>
    </thead>
    <tbody>
      {% for task in tasks %}
      <tr>
        <th scope="row">{{task.id}}</th>
        <td>{{task.status}}</td>
        <td>{{task.content}}</td>
        <td>{{task.date}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
{% endblock %}
