{% extends 'base.html' %} {% block head %}
<title>To-do App</title>
{% endblock %} {% block body %}
  <!-- As a heading -->
  <div class="container">
    <h2 class="text-center mt-4">Edit Page</h2>
    <div class="d-flex justify-content-center mt-4 align-items-center">
      <form action="/edit/{{task.id}}" method="POST">
        <input type="text" name="content" value="{{task.content}}" id="content" />
        <input class="btn btn-primary" type="submit" />
      </form>
    </div>
  </div>
{% endblock %}
